@keyframes move {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scaleY(3);
  }
}
body {
  background-color: black;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background: linear-gradient(to bottom right, #ffce75, #8411a7);
  height: 43vh;
  border-radius: 0 0 52px 39px;
  transform-origin: 0 0;
  border-radius: 21px 16px 0 0;
  background: linear-gradient(to top right, darkgray, #d41414);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(2) {
  background: linear-gradient(to bottom right, #ffb329, #8411a7);
  height: 21vh;
  border-radius: 0 0 40px 59px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(3) {
  background: linear-gradient(to bottom right, #ffb733, #8b12b0);
  height: 54vh;
  border-radius: 0 0 57px 55px;
  transform-origin: 0 0;
  border-radius: 49px 11px 0 0;
  background: linear-gradient(to top right, gainsboro, #c11212);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(4) {
  background: linear-gradient(to bottom right, #ffbb3d, #790f99);
  height: 48vh;
  border-radius: 0 0 44px 24px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(5) {
  background: linear-gradient(to bottom right, #ffd78f, #750f94);
  height: 18vh;
  border-radius: 0 0 11px 52px;
  transform-origin: 0 0;
  border-radius: 40px 18px 0 0;
  background: linear-gradient(to top right, #888888, #b81111);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(6) {
  background: linear-gradient(to bottom right, #ffbe47, #8711ab);
  height: 69vh;
  border-radius: 0 0 25px 48px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(7) {
  background: linear-gradient(to bottom right, #ffdfa3, #7c109e);
  height: 52vh;
  border-radius: 0 0 16px 23px;
  transform-origin: 0 0;
  border-radius: 57px 15px 0 0;
  background: linear-gradient(to top right, #d7d7d7, #cb1313);
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(8) {
  background: linear-gradient(to bottom right, #ffb01f, #750f94);
  height: 31vh;
  border-radius: 0 0 12px 34px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(9) {
  background: linear-gradient(to bottom right, #ffb01f, #790f99);
  height: 50vh;
  border-radius: 0 0 56px 51px;
  transform-origin: 0 0;
  border-radius: 14px 18px 0 0;
  background: linear-gradient(to top right, #8f8f8f, #d91414);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(10) {
  background: linear-gradient(to bottom right, #ffce75, #8411a7);
  height: 11vh;
  border-radius: 0 0 26px 24px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(11) {
  background: linear-gradient(to bottom right, #ffbb3d, #8411a7);
  height: 44vh;
  border-radius: 0 0 43px 18px;
  transform-origin: 0 0;
  border-radius: 28px 12px 0 0;
  background: linear-gradient(to top right, #c5c5c5, #cf1313);
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(12) {
  background: linear-gradient(to bottom right, #ffa705, #750f94);
  height: 63vh;
  border-radius: 0 0 37px 52px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(13) {
  background: linear-gradient(to bottom right, #ffb224, #8b12b0);
  height: 49vh;
  border-radius: 0 0 34px 12px;
  transform-origin: 0 0;
  border-radius: 49px 21px 0 0;
  background: linear-gradient(to top right, #d9d9d9, #c61212);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(14) {
  background: linear-gradient(to bottom right, #ffc55c, #8711ab);
  height: 33vh;
  border-radius: 0 0 52px 17px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(15) {
  background: linear-gradient(to bottom right, #ffdd9e, #8711ab);
  height: 37vh;
  border-radius: 0 0 21px 22px;
  transform-origin: 0 0;
  border-radius: 51px 18px 0 0;
  background: linear-gradient(to top right, #a4a4a4, #bd1212);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(16) {
  background: linear-gradient(to bottom right, #ffa90a, #8010a2);
  height: 23vh;
  border-radius: 0 0 40px 38px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(17) {
  background: linear-gradient(to bottom right, #ffd07a, #790f99);
  height: 28vh;
  border-radius: 0 0 25px 31px;
  transform-origin: 0 0;
  border-radius: 57px 15px 0 0;
  background: linear-gradient(to top right, #d2d2d2, #b81111);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(18) {
  background: linear-gradient(to bottom right, #ffc966, #9213b9);
  height: 24vh;
  border-radius: 0 0 35px 14px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(19) {
  background: linear-gradient(to bottom right, #ffae1a, #8f12b5);
  height: 69vh;
  border-radius: 0 0 46px 53px;
  transform-origin: 0 0;
  border-radius: 12px 23px 0 0;
  background: linear-gradient(to top right, #b8b8b8, #b31111);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(20) {
  background: linear-gradient(to bottom right, #ffb938, #710e90);
  height: 56vh;
  border-radius: 0 0 30px 14px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(21) {
  background: linear-gradient(to bottom right, #ffd994, #8b12b0);
  height: 19vh;
  border-radius: 0 0 59px 58px;
  transform-origin: 0 0;
  border-radius: 25px 21px 0 0;
  background: linear-gradient(to top right, #bbbbbb, #d91414);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(22) {
  background: linear-gradient(to bottom right, #ffbe47, #750f94);
  height: 13vh;
  border-radius: 0 0 17px 58px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(23) {
  background: linear-gradient(to bottom right, #ffd994, #8f12b5);
  height: 51vh;
  border-radius: 0 0 56px 39px;
  transform-origin: 0 0;
  border-radius: 24px 18px 0 0;
  background: linear-gradient(to top right, #bbbbbb, #c11212);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(24) {
  background: linear-gradient(to bottom right, #ffae1a, #7c109e);
  height: 62vh;
  border-radius: 0 0 25px 52px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(25) {
  background: linear-gradient(to bottom right, #ffe0a8, #790f99);
  height: 63vh;
  border-radius: 0 0 23px 52px;
  transform-origin: 0 0;
  border-radius: 50px 13px 0 0;
  background: linear-gradient(to top right, #d2d2d2, #b31111);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(26) {
  background: linear-gradient(to bottom right, #ffd78f, #750f94);
  height: 64vh;
  border-radius: 0 0 46px 43px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(27) {
  background: linear-gradient(to bottom right, #ffbc42, #8f12b5);
  height: 55vh;
  border-radius: 0 0 24px 17px;
  transform-origin: 0 0;
  border-radius: 36px 26px 0 0;
  background: linear-gradient(to top right, #cdcdcd, #b31111);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(28) {
  background: linear-gradient(to bottom right, #ffbb3d, #8010a2);
  height: 58vh;
  border-radius: 0 0 17px 50px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(29) {
  background: linear-gradient(to bottom right, #ffcb6b, #8010a2);
  height: 57vh;
  border-radius: 0 0 28px 31px;
  transform-origin: 0 0;
  border-radius: 25px 22px 0 0;
  background: linear-gradient(to top right, #e3e3e3, #b81111);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(30) {
  background: linear-gradient(to bottom right, #ffb733, #750f94);
  height: 54vh;
  border-radius: 0 0 28px 29px;
  transform-origin: 0 0;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(odd) {
  align-self: end;
  transform-origin: 0 100%;
}

/*# sourceMappingURL=main.css.map */
